*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body{
    background-image: linear-gradient(to bottom left, #2450c9 , #faaf3e);
    height: 100%;
    margin: 0;
    padding: 0;
}

#container{
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center; 
}

#game-info h3{
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: #000000;
    padding: 3rem 3rem;    
    font-size: 3vh;
}

#game-info p{
    text-align: center;
    font-size: 3vh;
}

.button{
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 3vh;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    transform: translateY(-2px);
    background-color: #FFD700;
}

.button:active {
    transform: translateY(0.5px);
    background-color: #FFD700;
}

#stats p {
    font-size: min(4vh, 4vw);
    color: #2450c9;
    font-weight: bold;
    font-family: "monaco";
}

#numbers-table{
    display: none;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

table{
    border: 5px solid black;
    border-radius: 2px;
    width: 100%;
    height: 55%;
}

td{
    border: 5px solid black;
    cursor: pointer;
}

td:hover{
    border: 5px solid #FFD700;
}

td.numbers{
    font-size: min(12.5vw, 12.5vh);
}

#book{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: min(6vh, 6vw);
}

#numbers-table button {
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: min(3vh, 3vw);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#numbers-table button:hover {
    transform: translateY(-2px);
    background-color: #FFD700;
}

#numbers-table button:active {
    transform: translateY(0.5px);
    background-color: #FFD700;
}

#result-container{
    display: none;
}

#result-container p{
    color: #fff;
    background-color: #000000;
    width: 80vw;
    padding: 1rem 1rem; 
    font-size: 3vh;
};